#result {
  display: none;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: none;
}
body {
background-image: url(../img/scratched.jpg);
background-repeat: none;
background-size: cover;
}
.container {
  padding: 0px;
  border: #6d0019 solid 17px;
}
.header{
  background-image: url(../img/pizzaHeader.png);
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  font-size: 5em;
}
#header2 {
  display: block;
  min-height: 250px;
  margin: auto;
  background-color: inherit;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}
h1 {
  font-size: 2em;
}
.col-md-2 {
  margin: 0px;
  padding: 0px;
}
.pizzaPlaces {
  /*background Gradient*/
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
}
.btn-danger {
  width: 100%;
  margin: 0px;
  /*background Gradient*/
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
    color: white;
    border: none;
}
.btn-success {
  display: block;
  margin: auto;
}
.panel {
  border-color: black;
  min-height: 650px;

}
.panel-heading {
  /*background Gradient*/
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
    color: white;
  }
.orderRow {
  padding: 40px;
}
#initialReceipt h3{
  text-align: center;
}
